<div class="home__container">
  <app-card gameCover="https://upload.wikimedia.org/wikipedia/pt/9/9c/Minecraft_capa.png" gameLabel="Digital" gameType="PS4" gamePrice="R$ 199,90"></app-card>
  <app-card gameCover="https://upload.wikimedia.org/wikipedia/pt/9/9c/Minecraft_capa.png" gameLabel="Exclusive" gamePrice="R$ 400,00" gameType="PS4 | WINDOWS"></app-card>
  <app-card gameCover="https://upload.wikimedia.org/wikipedia/pt/9/9c/Minecraft_capa.png" gameLabel="Exclusive" gamePrice="R$ 400,00" gameType="PS4 | WINDOWS"></app-card>
  
</div>
